.arrow-up-icon {
    width: 1.25rem;
    height: 1.25rem;
    stroke: var(--gray20);
    transition: stroke 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .arrow-up-icon:hover {
    stroke: var(--primary);
  }
  
  .arrow-up-icon.active {
    transform: rotate(-180deg);
  }
  