.button {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  background-color: var(--primary);
  color: var(--white);
  font-size: var(--font-h3);
  font-weight: var(--font-medium);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}

.button:hover {
  background-color: var(--blue10);
}

@media (min-width: 768px) {
  .button {
    width: auto;
  }
}
