.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }
  
  .loader {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid var(--primary);
    border-top-color: transparent;
    animation: spin 1s linear infinite;
  }
  
  .loader-text {
    margin-left: 0.5rem;
    font-size: var(--font-h3);
    color: var(--gray20);
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  